<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>

<body>
    <h3>
         <a>Baseball Predictions</a>
    </h3>
        <div>
        <form method="POST" action="{{ url_for('index') }}">
          <select name="dates2" class="selectpicker form-control">

            <option>
            DATE
            </option>

           {% for dates in dates_avail %}
              <option value="{{dates.date}}">{{dates.date}} </option>
            {% endfor %}

         </select>
        </form>
    </div>

    <table>
         <thead>
            <tr>
                <th>Date</th>
               <th>Home</th>
               <th>Away</th>
               <th>Bookie Line</th>
               <th>Predicted Runs</th>

            </tr>
         </thead>

         <tbody>
            {% for prediction in predictions %}
               <tr>
                   <td>{{ prediction.date }}</td>
                   <td>{{ prediction.home }}</td>
                   <td>{{ prediction.away }}</td>
                   <td>{{ prediction.bookie }}</td>
                   <td>{{ prediction.predicted_runs }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>


</body>




</html>