<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
function altRows(id){
	if(document.getElementsByTagName){

		var table = document.getElementById(id);
		var rows = table.getElementsByTagName("tr");

		for(i = 0; i < rows.length; i++){
			if(i % 2 == 0){
				rows[i].className = "evenrowcolor";
			}else{
				rows[i].className = "oddrowcolor";
			}
		}
	}
}
window.onload=function(){
	altRows('alternatecolor');
}
</script>
<style type="text/css">
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
</style>
</head>

<body>
    <h3>
         <a>Baseball Predictions</a>
    </h3>
        <div>
        <form method="POST" name='dates2' action="/results">
          <select name="dates2" class="selectpicker form-control">

            <option>
            DATE
            </option>

           {% for dates in dates_avail %}
              <option value="{{dates.date}}">{{dates.date}} </option>
            {% endfor %}

         </select>
        <button type="submit">Refresh</button>
        </form>
    </div>
    <div><br><br</div>
        <table class="altrowstable" id="alternatecolor">
         <thead>
            <tr>
                <th>Date</th>
               <th>Home</th>
               <th>Away</th>
               <th>Bookie Line</th>
               <th>Predicted Runs</th>
            </tr>
         </thead>
         <tbody>
            {% for prediction in predictions %}
               <tr>
                   <td>{{ prediction.date }}</td>
                   <td>{{ prediction.home }}</td>
                   <td>{{ prediction.away }}</td>
                   <td>{{ prediction.bookie }}</td>
                   <td>{{ prediction.predicted_runs }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    </body>
</html>